---
layout: default
title: "Team"
description: "People in the lab"
group: navigation
navorder: 2
---
{% include JB/setup %}


<!--
<div class="row">
	<div class="col-md-12">
		<img class="team-photo" src="/assets/images/team/rs_lab_crop.png"/>
	</div>
</div>
-->

<div class="bigspacer"></div>
<hr/>

<div class="bigspacer"></div>
{% assign current_team = site.categories.team | where: "alum","false"%}
{% assign memberindex = 0 %}
{% for member in current_team reversed %}
	{% assign memberindex = memberindex | plus: 1 %}
	{% assign colindex = memberindex | modulo: 3 %}
	{% if colindex == 1 %} <!-- opening of a new row -->
	<div class="row">
	{% endif %}
	<div class="col-md-4 memberbox">
		<div class="media">
				<a class="pull-left" href="{{ member.url }}">
				<img class="media-object member-photo" src="{{ member.image }}">
				</a>
			 	<div class="media-body">
				<div class="head media-heading member-name"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
				<p class="note">{{ member.position }}</p>
				</div>
		</div>
    </div>	  
	{% if colindex == 0 %} <!-- closing a row -->
	</div><div class="bigspacer"></div>
	{% endif %}
{% endfor %}
{% if colindex != 0 %} <!-- close last open row -->
</div><div class="bigspacer"></div>
{% endif %}

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-12">
	<div id="carousel" class="carousel carousel-fade" data-ride="carousel">
	  <ol class="carousel-indicators">
	    <li data-target="#carousel" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel" data-slide-to="1"></li>
	    <li data-target="#carousel" data-slide-to="2"></li>
	    <li data-target="#carousel" data-slide-to="3"></li>
	    <li data-target="#carousel" data-slide-to="4"></li>
	    <li data-target="#carousel" data-slide-to="5"></li>
	    <li data-target="#carousel" data-slide-to="6"></li>
	    <li data-target="#carousel" data-slide-to="7"></li>
	    <li data-target="#carousel" data-slide-to="8"></li>
	    <li data-target="#carousel" data-slide-to="9"></li>
	    <li data-target="#carousel" data-slide-to="10"></li>
	    <li data-target="#carousel" data-slide-to="11"></li>
	    <li data-target="#carousel" data-slide-to="12"></li>
	    <li data-target="#carousel" data-slide-to="13"></li>
	    <li data-target="#carousel" data-slide-to="14"></li>
	    <li data-target="#carousel" data-slide-to="15"></li>
	    <li data-target="#carousel" data-slide-to="16"></li>
	    <li data-target="#carousel" data-slide-to="17"></li>
	    <li data-target="#carousel" data-slide-to="18"></li>
	    <li data-target="#carousel" data-slide-to="19"></li>
	    <li data-target="#carousel" data-slide-to="20"></li>
	    <li data-target="#carousel" data-slide-to="21"></li>
	    <li data-target="#carousel" data-slide-to="22"></li>
	    <li data-target="#carousel" data-slide-to="23"></li>
	    <li data-target="#carousel" data-slide-to="24"></li>
	    <li data-target="#carousel" data-slide-to="25"></li>
	    <li data-target="#carousel" data-slide-to="26"></li>
	    <li data-target="#carousel" data-slide-to="27"></li>
	    <li data-target="#carousel" data-slide-to="28"></li>
	    <li data-target="#carousel" data-slide-to="29"></li>
	    <li data-target="#carousel" data-slide-to="30"></li>
	    <li data-target="#carousel" data-slide-to="31"></li>
	    <li data-target="#carousel" data-slide-to="32"></li>
	    <li data-target="#carousel" data-slide-to="33"></li>
	    <li data-target="#carousel" data-slide-to="34"></li>
	    <li data-target="#carousel" data-slide-to="35"></li>
	    <li data-target="#carousel" data-slide-to="36"></li>
	    <li data-target="#carousel" data-slide-to="37"></li>
	    <li data-target="#carousel" data-slide-to="38"></li>
	    <li data-target="#carousel" data-slide-to="39"></li>


	  </ol>
	  <!-- Carousel items -->
	  <div class="carousel-inner">
	    <div class="active item">
	    	<img class="team-photo" src="/assets/images/team/RS_in_lab.png" title="At work">
	    </div>
	    <div class="item">
	    	<img class="team-photo" src="/assets/images/team/20220513_cornell botanic gardens.jpg" title="2022 Lab social at the Botanic gardens">
	    </div>
	    <div class="item">
	    	<img class="team-photo" src="/assets/images/team/20220809_Weill retreat.jpg" title="Sardana lab attends 2022 Weill retreat">
	    </div>
	    <div class="item">
	    	<img class="team-photo" src="/assets/images/team/20211208_first_lab_outing.jpg" title="First lab celebration at the Dairy bar">
	    </div>
	    <div class="item">
	    	<img class="team-photo" src="/assets/images/team/20211208_dairybar.jpg" title="First lab celebration at the Dairy bar">
	    </div>
	    <div class="item">
	    	<img class="team-photo" src="/assets/images/team/20220211_pastries.jpg" title="Last day of Julia's rotation in the lab">
	    </div>
	    <div class="item">
	    	<img class="team-photo" src="/assets/images/team/20220411_Chalk marker.jpg" title="Welcome to Sardana lab">
	    </div>
	    <div class="item">
	    	<img class="team-photo" src="/assets/images/team/20220918-IndianCreek.jpg" title="Start of Fall with apple cide donuts at Indian Creek">
	    </div>
	    <div class="item">
	    	<img class="team-photo" src="/assets/images/team/20220921_Foldscope workshop.jpg" title="Foldscope outreach workshop">
	    </div>
	    <div class="item">
	    	<img class="team-photo" src="/assets/images/team/20221017-pumpkins.jpg" title="First lab pumpkin">
	    </div>
	    <div class="item">
	    	<img class="team-photo" src="/assets/images/team/20221017-pumpkins2.jpg" title="Painting lab pumpkins at the MolMed Halloween party">
	    </div>
	    <div class="item">
	    	<img class="team-photo" src="/assets/images/team/20221107_one-year.jpg" title="Lab turns one celebration">
	    </div>
	    <div class="item">
	    	<img class="team-photo" src="/assets/images/team/20221125_Thanksgiving.jpg" title="Lab's first thanksgiving dinner">
	    </div>
	    <div class="item">
	    	<img class="team-photo" src="/assets/images/team/20221216-Bethfarewell.jpg" title="Farewell Beth!">
	    </div>
	    <div class="item">
	    	<img class="team-photo" src="/assets/images/team/20230401-EYH-outreach workshop.jpg" title="Expand your horizons outreach workshop">
	    </div>
	    <div class="item">
	    	<img class="team-photo" src="/assets/images/team/20230401-EYH-outreach workshop2.jpg" title="Expand your horizons outreach workshop">
	    </div>
	    <div class="item">
	    	<img class="team-photo" src="/assets/images/team/20230505-Jade-bday.jpg" title="Celebrating Jade's birthday">
	    </div>
	    <div class="item">
	    	<img class="team-photo" src="/assets/images/team/20230614-Julia-bday.jpg" title="Celebrating Julia's birthday">
	    </div>
	    <div class="item">
	    	<img class="team-photo" src="/assets/images/team/20230628-Jade-Aexam.jpg" title="Jade's a PhD candidate">
	    </div>
	    <div class="item">
	    	<img class="team-photo" src="/assets/images/team/20230707-Julia-Aexam.jpg" title="Julia's a PhD candidate!">
	    </div>
	    <div class="item">
	    	<img class="team-photo" src="/assets/images/team/20230713-lab-dinner.jpg" title="Lab dinner at Banfi">
	    </div>
	    <div class="item">
	    	<img class="team-photo" src="/assets/images/team/20230722_Molmed-kickball.jpg" title="MolMed Kickball tournament winners!">
	    </div>
	    <div class="item">
	    	<img class="team-photo" src="/assets/images/team/20231012-Pups-popcorn.jpg" title="Spooktacular Pups n Popcorn!">
	    </div>
	    <div class="item">
	    	<img class="team-photo" src="/assets/images/team/20231214-lab-lunch.jpg" title="End of semester lab lunch at Milkstand">
	    </div>
	    <div class="item">
	    	<img class="team-photo" src="/assets/images/team/20240325-Richa-bday.jpg" title="Cupcakes!">
	    </div>	    
	    <div class="item">
	    	<img class="team-photo" src="/assets/images/team/20240406-EYH.jpg" title="Excellent EYH workshop teamwork">
	    </div>	
	    <div class="item">
	    	<img class="team-photo" src="/assets/images/team/20240510-lab-lunch.jpg" title="End of semester lab lunch">
	    </div>
	    <div class="item">
	    	<img class="team-photo" src="/assets/images/team/20240719-Riley-bday.jpg" title="Celebrating Riley's birthday">
	    </div>
	    <div class="item">
	    	<img class="team-photo" src="/assets/images/team/20240729_labmugs.jpg" title="Look at those cool mugs!">
	    </div>
	    <div class="item">
	    	<img class="team-photo" src="/assets/images/team/20240801-lab-bowling.jpg" title="End of summer bowling party">
	    </div>
	    <div class="item">
	    	<img class="team-photo" src="/assets/images/team/20241015_lab hike-beebelake.jpg" title="Fall lab hike Beebe lake">
	    </div>
	    <div class="item">
	    	<img class="team-photo" src="/assets/images/team/20241015-hike-Beebe lake.jpg" title="Fall lab hike Beebe lake">
	    </div>
	    <div class="item">
	    	<img class="team-photo" src="/assets/images/team/20241031-pumpkin paint.jpg" title="Halloween pumpkin painting">
	    </div>
	    <div class="item">
	    	<img class="team-photo" src="/assets/images/team/20241031-pumpkin painting2.jpg" title="Halloween pumpkin painting">
	    </div>
	    <div class="item">
	    	<img class="team-photo" src="/assets/images/team/20241211-semester end.jpg" title="End of Fall 2024 semester">
	    </div>
	    <div class="item">
	    	<img class="team-photo" src="/assets/images/team/20250405-eyh-workshop.jpg" title="Another successful EYH workshop">
	    </div>
	    <div class="item">
	    	<img class="team-photo" src="/assets/images/team/20250505-jade-bday.jpg" title="Celebrating Jade's birthday">
	    </div>
	    <div class="item">
	    	<img class="team-photo" src="/assets/images/team/20250506_semester end-2.jpg" title="End of Spring 2025 semester">
	    </div>
	    <div class="item">
	    	<img class="team-photo" src="/assets/images/team/20250506_semester lunch.jpg" title="End of Spring 2025 semester">
	    </div>


	  </div>
	</div>
	</div>				
</div>



<div class="bigspacer"></div>
<hr/>
<div class="bigtitle text-center">Alumni</div>
<div class="bigspacer"></div>

{% assign alumni = site.categories.team | where: "alum","true"%}
{% assign memberindex = 0 %}
{% for member in alumni %}
	{% assign memberindex = memberindex | plus: 1 %}
	{% assign colindex = memberindex | modulo: 3 %}
	{% if colindex == 1 %} <!-- opening of a new row -->
	<div class="row">
	{% endif %}
	<div class="col-md-4 memberbox">
		<div class="media">
				<a class="pull-left" href="{{ member.url }}">
				<img class="media-object member-photo" src="{{ member.image }}">
				</a>
			 	<div class="media-body">
				<div class="head media-heading member-name"><a href="{{ member.url }}" class="off">{{ member.title }}</a></div>
				<p class="note">{{ member.position }}</p>
				</div>
		</div>
    </div>	  
	{% if colindex == 0 %} <!-- closing a row -->
	</div><div class="bigspacer"></div>
	{% endif %}
{% endfor %}
{% if colindex != 0 %} <!-- close last open row -->
</div><div class="bigspacer"></div>
{% endif %}
